.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-heavy);
  border-bottom: 1px solid gray;
}

.filter {
  font-size: 15px;
  margin: 10px;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--color-accent);
  opacity: 0.4;
  font-weight: bold;
}

.filter:hover,
.filter.chosen {
  opacity: 1;
}

.modeicon {
  font-size: 15px;
  margin: 10px;
  text-transform: capitalize;
  background-color: var(--color-accent);
  color: white;
  font-weight: bold;
  border: 2px solid gray;
  border-radius: 10px;
}
